.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem;

    p {
        background-color: whitesmoke;
        padding: 1rem;
    }
    
    h2 {
       color: whitesmoke;
    }
}

.about {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
}