article {
    border: solid black;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 2rem 6rem;
    box-shadow: 10px 5px 5px black;

    .side{
        padding: 0 2rem 2rem;
    }

    .screenshot {
        width: 100%
    }

    .hrefs {
        display: flex;
        flex-direction: column;
    }
    
}

@include breakpoint($small) {
    article {
        flex-direction: row;
    }
}

a{
    margin: 2rem;
    text-decoration: underline;
}

a:hover {
    color: blue;
}