nav {
    display: flex;
    justify-content: center;
    
}

button {
    margin: .5rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    border-radius: 4px;
       
    &:hover {
        background-color: wheat;
    }
}

