//variables
$small: 700px;
$mid: 800px;
$medium: 900px;
$large: 1200px;
$xlarge: 1800px;

$font-header: 'Oldenburg', cursive;
$font-stack: 'Actor', sans-serif;

//mixins & placeholders
@mixin breakpoint($size) {
    @media (min-width: $size) {
      @content;
    }
  }

@import "reset";
@import "typography";
@import "./component/header";
@import "./component/navlinks";
@import "./pages/homepage";
@import "./component/articles";
@import "./component/footer";
@import "./pages/about";
@import "./pages/contact";